@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 5rem 0 5rem 0;
}

#root {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
  /* padding: 2rem; */
  min-height: 100vh;
}
